<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{{ titulo }}</title>
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/fontawesome/css/all.min.css" rel="stylesheet">
        <style>:root
        {
            --primary-color: #6D016E;
            --secondary-color: #47004A;
            --third-color: #2E032F;
        }

        body {
            background-color: #e9e9e9
        }
        .caja {
            margin-top: 90px
        }
        .caja-titulo {
            color: white;
            font-size: 20px;
            font-weight: bold;
        }
        .caja-mensaje {
            padding: 10px;
            background-color: white;
            -webkit-border-bottom-right-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius-bottomright: 10px;
            -moz-border-radius-bottomleft: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .titulo {
            background-color: var(--third-color);
            padding: 5px 5px 5px 25px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topright: 10px;
            border-top-right-radius: 10px;
        }
        .icono-borde {
            -webkit-border-top-left-radius: 10px;
            -moz-border-radius-topleft: 10px;
            border-top-left-radius: 10px;
        }
        .icono-notice {
            background-color: #11447b;
            padding-top: 10px
        }
        .icono-warning {
            background-color: #dfbf00;
            padding-top: 10px
        }
        .icono-error {
            background-color: #7b060b;
            padding-top: 10px
        }
        .icono-default {
            background-color: var(--secondary-color);
            padding-top: 10px
        }
    </style>

</head>
<body>
    <div class="container caja">
        <div class="caja-titulo">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 icono-borde icono-{{ tipo }} d-none d-md-block">
                        <div class="d-flex justify-content-center">
                            <i class="fas {{ icon }}"></i>
                        </div>
                    </div>
                    <div class="col-md-11 titulo">
                        {{ titulo }}
                    </div>
                </div>
            </div>
        </div>
        <div class="caja-mensaje">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        {{ ubicacion|raw }}
                    </div>
                    <div class="col-md-8">
                        {{ mensaje|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body></html>
